{% extends '::base.html.twig' %}
{% block title %}Zerodine Dashboard{% endblock %}


{% macro callmacro(box) %}
    {% import '::boxes.html.twig' as boxmacros %}

    {% if box.macroname == 'time' %}
        {{ boxmacros.time(box) }}
    {% elseif box.macroname == 'up' %}
        {{ boxmacros.up(box) }}
    {% elseif box.macroname == 'logo' %}
        {{ boxmacros.logo(box) }}
    {% elseif box.macroname == 'linesofcode' %}
        {{ boxmacros.linesofcode(box) }}
    {% else %}
        {{ boxmacros.unknown(box) }}
    {% endif %}
{% endmacro %}

{% block body %}
    <!-- FIRST ROW OF BLOCKS -->

    <div class="row">
        {% set previous_style = '' %}
        {% set half_unit_count = 0 %}
        {% set half_unit = 'half-unit' %}
        {% for box in boxes %}
            {% if box.style == half_unit and previous_style == box.style %}
                {# another half box #}
                {% if half_unit_count % 2 %}
                    </div>
                    <div class="col-sm-3 col-lg-3">
                {% endif %}
                {% set half_unit_count = half_unit_count + 1 %}
                    <div class="{{ box.style }}">
                        {{ _self.callmacro(box) }}
                    </div>
            {% elseif box.style == half_unit and previous_style != box.style %}
                {# a new half-unit box #}
                {% set half_unit_count = 0 %}
                <div class="col-sm-3 col-lg-3">
                    <div class="{{ box.style }}">
                        {{ _self.callmacro(box) }}
                    </div>
            {% elseif box.style != half_unit and previous_style == half_unit %}
                {# closing the privious half-unit #}
                {% if not half_unit_count % 2 %}
                    </div>
                {% endif %}
                {% set half_unit_count = 0 %}
                <div class="col-sm-3 col-lg-3">
                    <div class="{{ box.style }}">
                        {{ _self.callmacro(box) }}
                    </div>
                </div>
            {% else %}
                {# a normal box #}
                {% set half_unit_count = 0 %}
                <div class="col-sm-3 col-lg-3">
                    <div class="{{ box.style }}">
                        {{ _self.callmacro(box) }}
                    </div>
                </div>
            {% endif %}

            {% set previous_style = box.style %}
        {% endfor %}
    </div>

{% endblock %}